img {
	border-radius: 3px;
	height: auto;
	width: 100px;
}
body {
	// background-image: url('../../images/Address_book_1.jpg');
	// background-size: cover;
	background-color: #f5da02;
}
#add-info {
	height: 60px;
	width: 280px;
}
.hidden-op {
	height: 0 !important;
}
#header-add {
	height: auto;
	overflow: hidden;
	transition: all 0.5s;
}
#add-img {
	color: #fdd;
}
.jumbotron {
	background-color: rgba(0, 0, 0, 0.4);
}
.contact-wrapper {
	background-color: rgba(7, 12, 12, 0.85);
	border-radius: 4px;
	color: #ffffff;
}
.name {
	font-weight: bold;
	font-size: 20px;
}
.main-wrapper {
	min-height: 220px;
}
.form-group {
	label {
		color: #ffffff;
		font-weight: bold;
		margin: 0;
	}
}
#image_input {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
#previewImage {
	height: 100px;
	width: auto;
	border-radius: 3px;
}
.additionalInfo {
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}
.modal-body {
	color: rgb(7, 12, 12);
}
